@import url("https://fonts.googleapis.com/css2?family=Open+Sans&display=swap");

:root {
  --primary-color: #657375;
  --secondary-color: #fff;
}

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  font-family: "Open Sans", sans-serif;
  line-height: 1.5;
}

ul {
  list-style: none;
}

a {
  text-decoration: none;
}

/* Navbar */
#main-header {
  background: var(--primary-color);
  color: #fff;
}

/* Utility */
.container {
  width: 1100px;
  margin: 0 auto;
}
