@import url("https://fonts.googleapis.com/css2?family=Open+Sans&display=swap");

:root {
  --primary-color: #657375;
  --secondary-color: #fff;
}

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  font-family: "Open Sans", sans-serif;
  line-height: 1.5;
}

ul {
  list-style: none;
}

a {
  text-decoration: none;
  color: var(--secondary-color);
}

#logo {
  font-size: 2rem;
}

/* Navbar */
#main-header {
  background: var(--primary-color);
  color: #fff;
  height: 150px;
}

nav ul {
  display: flex;
  justify-content: flex-start;
}

nav ul li {
  margin: 0 40px;
}

#account {
  margin-right: 20px;
}

#account i {
  font-size: 1.3rem;
  margin-right: 7px;
}

/* Utility */
.container {
  width: 1300px;
  margin: 0 auto;
  height: 100%;
}

.grid {
  display: grid;
  grid-template-columns: 2fr 4fr 1fr;
  align-items: center;
  justify-content: center;
}
